.App {
  text-align: center;
  padding: 20px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.draggable {
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: move;
  width: 200px;
  text-align: center;
}
.css-1wgn40h-MuiInputBase-root-MuiOutlinedInput-root{
  width: 92% !important;
  height: 50px !important;
}
.css-900a6e-MuiListItemIcon-root{
  min-width: 33px !important
}
.css-1ifkoh7-MuiListItemIcon-root{
  min-width: 33px !important
}
.css-17mj2y8-MuiDrawer-docked .MuiDrawer-paper{
  margin-top:"64px"!important;
  background-color: "#f7f8fc" !important;

}